@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

/*body{
    background: #f6f5f7; 
    font-family: 'Montserrat', sans-serif;
    color: #3E363F;
}*/
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #3E363F;
  background: #f6f5f7;
  overflow: hidden;
}
#container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: #f0f0f0;
}
.ball {
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  background: #ffd700;
 
} /* Amarillo oro */

#error {
  display: none;
  color: red;
}
.resultado{
  display: none;
}
#contenedor {
  width: 900px;
  height: 500px;
  text-align: center;
  /*centrar el div vertical y horizontalmente*/
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
#calculadora {
  background: white;
  /* los divs quedan lado a lado */
  width: 50%;
  height: 100%;
  float: left;
}

#detalle {
  background: hwb(50 0% 6%);
  /* los divs queden lado a lado */
  width: 50%;
  height: 100%;
  float: left;
  color: #f6f5f7;
}
.contenido {
  /*  centrar el contenido verticalmente dentro de cada div */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  padding: 40px;
}
input {
  width: 70%;
  padding: 12px 15px;
  border: none;
  background-color: #f9f4bb;
  border-radius: 20px;
}

button {
  font-size: 15px;
  font-weight: bold;
  padding: 12px 45px;
  border-radius: 30px;
  background-color: hwb(50 0% 6%);
  border: 1px solid hwb(50 0% 6%);
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: transform 20ms ease-in;
}

button:active {
  transform: scale(0.95);
}
@media (max-width: 770px) {
  #contenedor {
    width: 90%;
    height: 750px;
    display: grid;
    grid-template-columns: 1fr;
  }
  #detalle,
  #calculadora {
    width: 100%;
  }
  .contenido {
    text-align: center;
  }
}
