body {
    font-family: 'Montserrat', sans-serif;
  text-align: center;
   background-color: rgb(111, 40, 217) ; padding: 100PX ; 
  
}
.contenedor {
    display: flex;
    padding: 0px; 
    background-color: white; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(111, 40, 217);
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
  }
  
  .columna1,
  .columna2 {
    flex: 2; 
    padding: 10px; 
    margin: 10px; 
    box-sizing: border-box; 
  }

h1 {
  text-align: center;
  margin-top: 50px;
  color: #fff;text-shadow: rgb(111, 40, 217);
  
}
#guesses > h1{
  color: black;
}

#guess-input {
  display: block;
  margin: 0 auto 20px;
  padding: 10px;
  font-size: 18px;
  width: 250px;
  border: 1px solid #ccc;
}

#guess-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 18px;
  background-color: rgb(111, 40, 217) ;
  color: #fdfcfc;
  border: none;
  border-radius:10px;
}

button:active {
  transform: scale(0.95);
}

.letter {
  border: 10px ;
  border-radius: 10px;
  padding: 6px;
  margin: 6px;
  min-width: 20px;
  text-align: center;
  display: inline-block;
}

.row {
  margin-bottom: 12px;
}

.input-area {
  margin: 10px;
  border-radius: 10px;
}
